language: node_js
node_js:
    - node
dist: trusty
addons:
    apt:
        packages:
            # This is required to run new chrome on old trusty
            - libnss3
script: npm run ci
cache:
    directories:
        - node_modules
before_install:
    # Enable user namespace cloning
    - 'sysctl kernel.unprivileged_userns_clone=1'
    # Launch XVFB
    - 'export DISPLAY=:99.0'
    - 'sh -e /etc/init.d/xvfb start'
