/* The variables here are dynamically overridden in the builder. They are here
for code completion in the other scss files. */

$backgroundColor: "#222b37";
$secondaryBackgroundColor: "#333d49";
$fontColor: "#ffffff";
$secondaryFontColor: "#a0a0a1";
$disabledFontColor: "#a0a0a1";
$primaryColor: "#7636dc";
$primaryContrastColor: "#ffffff";
$secondaryColor: "#3d66ff";
$secondaryContrastColor: "#ffffff";
$dividerColor: "#45505d";
$warningColor: "#e67e22";
$warningContrastColor: "#000000";
$successColor: "#27ae60";
$successContrastColor: "#FFFFFF";
$errorColor: "#c0392b";
$errorContrastColor: "#FFFFFF";
$fontFamily: "'Imperial Script', cursive";
$buttonBorderRadius: "0.5em";