@import "./variables.scss";

.h5peditor-form {
    background-color: $backgroundColor !important;
}

.h5peditor {
    background-color: $backgroundColor !important;
}

.h5peditor-copy-button:before,
.h5peditor-paste-button:before {
    color: $primaryContrastColor !important;
}

.h5p-tutorial-url,
.h5p-example-url {
    color: $primaryColor !important;
}

.h5peditor-label {
    color: $fontColor;
}

.form-manager-head {
    color: $fontColor !important;
    background-color: $backgroundColor !important;
    border-bottom: 1px solid $dividerColor;
}

.form-manager-button {
    color: $fontColor !important;
}

.h5peditor-field-description,
.h5p-help-text {
    color: $fontColor;
}

.h5peditor-paste-button,
.h5peditor-copy-button {
    color: $primaryContrastColor !important;
    background: $primaryColor !important;
}

/* input */
.h5peditor textarea,
.h5peditor .h5peditor-text,
.h5peditor .ckeditor {
    background: $backgroundColor !important;
}

.h5peditor textarea,
.h5peditor .h5peditor-text,
.h5peditor .ckeditor {
    border: 1px solid $dividerColor !important;
    color: $fontColor !important;
}

/* accordion header */
.group.importance-low>.title,
.h5p-li>.list-item-title-bar.importance-low,
.common>.h5peditor-label {
    background: $secondaryBackgroundColor;
    border: 1px solid $dividerColor;
    color: $fontColor !important;
}


.h5peditor fieldset.common-fields-library-wrapper>legend {
    color: $fontColor !important;
    background-color: $secondaryBackgroundColor !important;
    border: 1px solid $dividerColor !important;
}

.h5peditor fieldset.common-fields-library-wrapper {
    border: solid 1px $dividerColor !important;
}

.h5peditor .h5peditor-language-switcher select {
    color: $fontColor !important;
    background-color: $secondaryBackgroundColor !important;
    border: solid 1px $dividerColor !important;
}


.h5peditor-form-manager-head {
    background: $secondaryBackgroundColor !important;
    color: $fontColor !important;
    border-bottom: 1px solid $dividerColor !important;
    border-bottom: 1px solid $dividerColor !important;
}

.field.wizard .h5peditor-tab-a {
    background: $secondaryBackgroundColor !important;
    color: $fontColor !important;
}

.h5p-editor-table-list tbody td {
    background: $secondaryBackgroundColor;
    border-top: 1px solid $dividerColor;
    border-bottom: 1px solid $dividerColor;
}

.field.wizard {
    border: 1px solid $dividerColor !important;
}

.field.wizard .h5peditor-tab-a.h5peditor-active {
    background: $secondaryBackgroundColor !important;
    color: $fontColor !important;
}

.field.wizard .h5peditor-wizard-navigation-buttons {
    background-color: $secondaryBackgroundColor !important;
}

.form-manager-form {
    background: $backgroundColor !important;
}

.form-manager-done,
.form-manager-proceed {
    background: $primaryColor !important;
    color: $primaryContrastColor !important;
}

.form-manager-footer {
    border-top: solid 1px $dividerColor !important;
}

.h5peditor>select,
.h5peditor .h5peditor-language-switcher select,
.h5peditor h5peditor-select,
.h5peditor .field>select {
    border: 1px solid $dividerColor !important;
    background: $secondaryBackgroundColor !important;
}

.h5peditor .file .add {
    background: $primaryColor !important;
    border: 1px solid $dividerColor;
    color: $primaryContrastColor !important;
}

.h5peditor .file .add .h5peditor-field-file-upload-text:before {
    color: $primaryContrastColor !important;
}


.h5peditor-button-textual.importance-low {
    background: $secondaryBackgroundColor !important;
    border-color: $dividerColor !important;
    color: $fontColor !important;
}

.h5peditor-button-textual.importance-high {
    background: $secondaryBackgroundColor !important;
    border-color: $dividerColor !important;
    color: $fontColor !important;
}

.field.importance-high>.h5peditor-label-wrapper>.h5peditor-label {
    color: $primaryColor !important;
}


.h5peditor-button-textual {
    background: $secondaryBackgroundColor !important;
    border: 1px solid $dividerColor !important;
    color: $fontColor !important;
}

.h5peditor .ui-dialog .h5p-joubelui-button,
.h5peditor .h5p-joubelui-button {
    background: $primaryColor;
    color: $primaryContrastColor;
    font-family: $fontFamily !important;
    border-radius: $buttonBorderRadius !important;
}

.h5p-editor-table-list tbody td {
    background: $secondaryBackgroundColor !important;
    border-top: 1px solid $dividerColor !important;
    border-bottom: 1px solid $dividerColor !important;
}

.group>.title,
.h5p-li>.list-item-title-bar {
    background: $secondaryBackgroundColor !important;
    border: 1px solid $dividerColor !important;
    color: $fontColor !important;
}

.h5p-li>.list-item-title-bar.importance-high .order-group {
    background: $primaryColor;
}

.h5p-metadata-button-tip {
    background: $primaryColor !important;
    border: 1px solid $dividerColor !important;
}

.h5p-metadata-toggler {
    border: 1px solid $dividerColor !important;
    background: $primaryColor !important;
    color: $primaryContrastColor !important;
}

.h5p-metadata-wrapper {
    background-color: $backgroundColor !important;
}

.group.importance-low>.title,
.h5p-li>.list-item-title-bar.importance-low>.h5peditor-label,
.h5p-li>.list-item-title-bar.importance-low>.title,
.common>.h5peditor-label {
    color: $fontColor;
}

.field.wizard .h5peditor-wizard-navigation-buttons>div {
    color: $primaryContrastColor !important;
    background: $primaryColor !important;
    border: 1px solid $dividerColor !important;
}

.h5peditor-widget-option {
    border: 1px solid $dividerColor;
    color: $fontColor;
    background: $secondaryBackgroundColor;
}


.h5p-vtab-a {
    border: 1px solid $dividerColor !important;
    background-color: $secondaryBackgroundColor !important;
    color: $fontColor !important;
}

.important-description-show {
    background: $warningColor !important;
    color: $warningContrastColor !important;
}

.h5peditor-field-important-description {
    border: 1px solid $dividerColor !important;
    background-color: $warningColor !important;
    color: $warningContrastColor !important;
}


.h5p-editing-dialog {
    background: $backgroundColor !important;
}

.h5p-editing-dialog-header .done-button {
    color: $fontColor !important;
    background: $primaryColor !important;
    border-color: $primaryColor !important;
}

.h5peditor .h5p-add-dialog {
    background: $secondaryBackgroundColor !important;
    border: 1px solid $dividerColor !important;
}

.h5peditor .h5p-add-dialog .h5p-buttons {
    padding: 0.5em;
    border-top: 1px solid $dividerColor !important;
    background: $secondaryBackgroundColor !important;
}

.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-file-drop-upload {
    background-color: $secondaryBackgroundColor !important;
    border: 1px solid $dividerColor !important;
}

/* settings */
.group>.content {
    border: 1px solid $dividerColor !important;
    background: $backgroundColor !important;
}

.common>.fields {
    color: $fontColor !important;
    border: 1px solid $dividerColor !important;
    background: $backgroundColor !important;
}