.h5p-question-feedback-content,
.h5p-question-feedback,
.h5p-question-feedback-content-text {
    display: none !important;
}
.h5p-question-scorebar,
.h5p-question-visible {
    display: none !important;
}

.joubel-tip-container,
.joubel-icon-tip-normal,
.joubel-tip-container .joubel-tip {
    display: none !important;
}
