version: 2.1
orbs:
    coveralls: coveralls/coveralls@1.0.6

jobs:
    install-build:
        docker:
            - image: circleci/node:16
        steps:
            - checkout         
            - restore_cache:
                  key: h5p-core-cache1-{{ checksum "scripts/install.sh" }}
            - restore_cache:
                  key: h5p-core-cache2-{{ checksum "scripts/install.sh" }}
            - run: npm ci
            - restore_cache:
                  key: h5p-examples-cache-{{ checksum "test/data/content-type-cache/real-content-types.json" }}
            - run: |
                npm run build --prefix packages/h5p-rest-example-client
                npm run build --prefix packages/h5p-rest-example-server
                npm run download:content
            
            - save_cache:
                  key: h5p-core-cache1-{{ checksum "scripts/install.sh" }}
                  paths:
                      - ./packages/h5p-examples/h5p
            - save_cache:
                  key: h5p-core-cache2-{{ checksum "scripts/install.sh" }}
                  paths:
                      - ./packages/h5p-rest-example-server/h5p
            - save_cache:
                  key: h5p-examples-cache-{{ checksum "test/data/content-type-cache/real-content-types.json" }}
                  paths:
                      - ./test/data/hub-content
            - persist_to_workspace:
                  root: .
                  paths:
                      - node_modules
                      - packages/h5p-examples/build
                      - packages/h5p-examples/h5p
                      - packages/h5p-examples/node_modules
                      - packages/h5p-express/build
                      - packages/h5p-express/node_modules
                      - packages/h5p-html-exporter/build
                      - packages/h5p-html-exporter/node_modules
                      - packages/h5p-mongos3/build
                      - packages/h5p-mongos3/node_modules
                      - packages/h5p-react/build
                      - packages/h5p-react/node_modules
                      - packages/h5p-server/build
                      - packages/h5p-server/node_modules
                      - packages/h5p-webcomponents/build
                      - packages/h5p-webcomponents/node_modules
                      - packages/h5p-rest-example-client/node_modules
                      - packages/h5p-rest-example-client/build
                      - packages/h5p-rest-example-server/node_modules
                      - packages/h5p-rest-example-server/build
                      - packages/h5p-rest-example-server/h5p
                      - test/data/content-type-cache/real-content-types.json
                      - test/data/hub-content

    lint:
        docker:
            - image: circleci/node:16
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run lint

    format:
        docker:
            - image: circleci/node:16
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run format:check

    unit-tests:
        docker:
            - image: circleci/node:16-browsers
              environment:
                  NODE_ENV: development
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run test -- --collect-coverage
            - coveralls/upload:
                  parallel: true
                  flag_name: Unit tests

    integration-tests:
        docker:
            - image: circleci/node:16-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run test:integration -- --collect-coverage
            - coveralls/upload:
                  parallel: true
                  flag_name: Integration tests

    html-exporter-tests:
        docker:
            - image: circleci/node:16-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run test:html-exporter -- --collect-coverage
            - coveralls/upload:
                  parallel: true
                  path_to_lcov: ./packages/h5p-html-exporter/coverage/lcov.info
                  flag_name: HTML Exporter Tests

    e2e-tests:
        docker:
            - image: circleci/node:16-browsers
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run test:e2e

    db-tests:
        docker:
            - image: circleci/node:16
            - image: circleci/mongo:latest
              environment:
                  MONGO_INITDB_ROOT_USERNAME: root
                  MONGO_INITDB_ROOT_PASSWORD: h5pnodejs
            - image: minio/minio
              environment:
                  MINIO_ACCESS_KEY: minioaccesskey
                  MINIO_SECRET_KEY: miniosecret
              command: server /data
        steps:
            - checkout
            - attach_workspace:
                  at: .
            - run: npm run test:db -- --collect-coverage
            - coveralls/upload:
                  parallel: true
                  flag_name: DB tests

    release:
        docker:
            - image: 'circleci/node:16'
        steps:
            - checkout
            - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            - attach_workspace:
                  at: .
            - coveralls/upload:
                  parallel_finished: true
            - run:
                  name: config git
                  command: git config --global user.email "c@Lumi.education" && git config --global user.name "Lumi"
            - run:
                  name: release
                  command: npx lerna version -y --conventional-commits --create-release github && npx lerna publish -y from-package

workflows:
    version: 2
    h5p-nodejs-library:
        jobs:
            - install-build
            - lint:
                  requires:
                      - install-build
            - format:
                  requires:
                      - install-build
            - unit-tests:
                  requires:
                      - install-build
            # - e2e-tests:
            #       requires:
            #           - install-build
            - integration-tests:
                  requires:
                      - install-build
            - db-tests:
                  requires:
                      - install-build
            - html-exporter-tests:
                  requires:
                      - install-build
            - release:
                  filters:
                      branches:
                          only: release
                  requires:
                      - install-build
                      - lint
                      - format
                      - unit-tests
                      - html-exporter-tests
                      # - e2e-tests
                      - integration-tests
                      - db-tests
