@import '../variables.scss';

.h5p-dragquestion-editor .common {
    background-color: $backgroundColor !important;
}

.h5p-dragquestion-editor .h5peditor-panes>.field.dragQuestion {
    background-color: $secondaryBackgroundColor !important;
}

.h5peditor-fluid-dialog {
    background: $secondaryBackgroundColor !important;
    border-color: $dividerColor;
}

.h5peditor-fd-buttons {
    background: $backgroundColor !important;

}

a.h5peditor-fd-button {
    background: $primaryColor !important;
    border-color: darken($primaryColor, 10%) !important;
    color: $primaryContrastColor !important;

    &:hover {
        background: darken($primaryColor, 10%) !important;
        border-color: darken($primaryColor, 20%) !important;
    }

    &.h5peditor-remove {
        background: none !important;
        border: none !important;
        color: $errorColor !important;
    }
}

.field.dynamicCheckboxes .h5p-selectall {
    color: $primaryColor !important;
}